@keyframes animate1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate2 {
    0%{
        transform: translateY(0px);
    }
    100%
    {
        transform: translateY(-20px);
    }
}
@keyframes about {
    0%{
        transform: translate(-50% , -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50% , -50%) rotate(360deg);
    }
}

@keyframes deliver {
    0%{
        opacity: 0;
        transform: translateY(0px);
    }
    20%{
        opacity: 1;
        transform: translateY(-70px);
    }
    40%{
        transform: translateY(0px);
        opacity: 1;
    }
    50%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        transform: translateX(1300px);
        opacity: 1;
    }

}